<div class="loaderBox" *ngIf="loading"></div>
<div id="page-wrapper">
    <div class="graphs">

        <h3 class="blank1">Add Advertisement</h3>
        <div class="tab-content">
            <div class="tab-pane active loadingOuter" id="horizontal-form">
                <div class="loadingBar" *ngIf="showLoading">
                </div>
                <form class="form-horizontal" (ngSubmit)="addCategory(f,category)" #f="ngForm" novalidate>

                    <div class="form-group">
                        <label for="mediuminput" class="col-sm-2 control-label">Ad Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control1" id="mediuminput" placeholder="Ad name" name="name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mediuminput" class="col-sm-2 control-label">Placement</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control1" id="mediuminput" placeholder="About" name="about" [(ngModel)]="category.about" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="mediuminput" class="col-sm-2 control-label">Ad Content</label>
                        <div class="col-sm-8">
                            <input type="file" id="file-input" class="form-control" (change)="fileChange($event)" name="imageLink" placeholder="Upload file" required>
                        </div>
                        <div class="col-md-2"><img width="100" src="{{category.imageLink}}" /></div>
                    </div>

                    <div class="row submitCategory">
                        <div class="col-sm-8 col-sm-offset-2">
                            <button type="submit" class="btn-success btn">Submit</button>
                            <button type="submit" class="btn-success btn">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <h3 class="blank1">Advertisement Blocks</h3>
        <div class="xs tabls">
            <div class="bs-example4" data-example-id="contextual-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>S.no</th>
                            <th>Ad Name</th>
                            <th>Placement</th>
                            <th>Ad Text/Soure</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="active">
                            <th scope="row">1</th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>

                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>

                        </tr>
                        <tr class="success">
                            <th scope="row">3</th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>

                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>

                        </tr>
                        <tr class="info">
                            <th scope="row">5</th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>