<div class="loaderBox" *ngIf="loading"></div>
<div id="page-wrapper">

    <!-- ads block start -->
    <div class="graphs">

        <h3 class="blank1">Add Advertisement</h3>
        <div class="tab-content">
            <div class="tab-pane active loadingOuter" id="horizontal-form">
                <div class="loadingBar" *ngIf="loading">
                </div>
                <form class="form-horizontal" (ngSubmit)="AddadsBlock(f,add)" #f="ngForm" novalidate>

                    <div class="form-group">
                        <label for="mediuminput" class="col-sm-2 control-label">Placement</label>
                        <div class="col-sm-8">
                            <select name="placements" class="form-control" [(ngModel)]="add.adId">
                                 <option selected>None</option>
                                 <option *ngFor="let c of noAds" [ngValue]="c.adId">{{c.adname}}</option>       
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="mediuminput" class="col-sm-2 control-label">Ad Content</label>
                        <div class="col-sm-8">
                            <textarea id="file-input" rows="10" cols="20" class="form-control" [(ngModel)]="add.adContent" name="adData" placeholder="Upload file"
                                required> </textarea>
                        </div>
                    </div>
                    <div class="row submitCategory">
                        <div class="col-sm-8 col-sm-offset-2">
                            <button type="submit" class="btn-success btn">Submit</button>
                            <button type="submit" class="btn-success btn">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <h3 class="blank1">Advertisement Blocks</h3>
        <div class="xs tabls">
            <div class="bs-example4" data-example-id="contextual-table">
                <div *ngIf="adds.length == 0">
                    No Posts Found
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>S.no</th>
                            <th>Ad Name</th>
                            <th>Placement</th>
                            <th>Delete</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="active" *ngFor="let ad of adds let i = index">
                            <td>{{i+1}}</td>
                            <td>{{ad.adname}}</td>
                            <td>{{ad.adId}}</td>
                            <td> <button (click)="resetadsBlock(ad.adId)" type="button" class="btn btn_5 btn-lg btn-primary">Delete Ad</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- ads block end -->

</div>

<!-- modal popup start -->
<bs-modal #myFirstModal>

    <bs-modal-body>
        {{message}}
    </bs-modal-body>

</bs-modal>
<!-- modal popup end -->