<div id="page-wrapper" class="sign-in-wrapper">
    <div class="graphs">
        <div class="sign-in-form">
            <div class="sign-in-form-top">
                <p><span>Sign In to</span> <a href="index.html">Admin</a></p>
            </div>
            <div class="signin">
                <div class="signin-rit">
                    <span class="checkbox1">
               <label class="checkbox"><input type="checkbox" name="checkbox" checked="">Forgot Password ?</label>
            </span>
                    <p><a routerLink="/main/ListAllUsersComponent">Click Here</a> </p>
                    <div class="clearfix"> </div>
                </div>

                <!-- Form start -->
                <form (ngSubmit)="login(f)" #f="ngForm" novalidate>
                    <div class="log-input">
                        <div class="log-input-left">
                            <input type="text" class="user" value="Yourname" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email address:';}"
                                name="email" [(ngModel)]="userData.email" required />
                        </div>
                        <span class="checkbox2">
               <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i></label>
            </span>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="log-input">
                        <div class="log-input-left">
                            <input type="password" class="lock" value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password:';}"
                                name="password" [(ngModel)]="userData.password" required />
                        </div>
                        <span class="checkbox2">
               <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i></label>
            </span>
                        <div class="clearfix"> </div>
                    </div>
                    <input type="submit" value="Login to your account">
                </form>
                <!-- Form end -->

            </div>
        </div>
    </div>
</div>


<!-- Modal popup start -->
<bs-modal #myFirstModal>

    <bs-modal-body>
        {{message}}
    </bs-modal-body>

</bs-modal>
<!-- Modal popup end -->