<div class="loaderBox" *ngIf="loading"></div>
<div id="page-wrapper">
    <div class="graphs">
        <h3 class="blank1">Add Category</h3>

        <!-- Add categories start -->
        <div class="tab-content">
            <div class="tab-pane active loadingOuter" id="horizontal-form">
                <div class="loadingBar" *ngIf="showLoading">
                </div>
                <form class="form-horizontal" (ngSubmit)="addCategory(f,category)" #f="ngForm" novalidate>

                    <div class="form-group">
                        <label for="mediuminput" class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control1" id="mediuminput" placeholder="Title" name="name" [(ngModel)]="category.name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mediuminput" class="col-sm-2 control-label">About</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control1" id="mediuminput" placeholder="About" name="about" [(ngModel)]="category.about" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="mediuminput" class="col-sm-2 control-label">Image</label>
                        <div class="col-sm-8">
                            <input type="file" id="file-input" class="form-control" (change)="fileChange($event)" name="imageLink" placeholder="Upload file"
                                required>
                        </div>
                        <div class="col-md-2"><img width="100" src="{{category.imageLink}}" /></div>
                    </div>

                    <div class="row submitCategory">
                        <div class="col-sm-8 col-sm-offset-2">
                            <button type="submit" class="btn-success btn">Submit</button>
                            <button type="submit" class="btn-success btn">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- List all categories end -->

        <!-- List all categories start -->
        <h3 class="blank1">List All Categories</h3>
        <div class="xs tabls">
            <div class="bs-example4" data-example-id="contextual-table">
                <div *ngIf="categories.length == 0">
                    No Posts Found
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>S.no</th>
                            <th>Name</th>
                            <th>About</th>
                            <th>Total Posts</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="active" *ngFor="let cate of categories let i = index">
                            <td>{{i+1}}</td>
                            <td>{{cate.name}}</td>
                            <td>{{cate.about}}</td>
                            <td>{{cate.count}}</td>
                            <td>
                                <!-- <button type="button" class="btn btn_5 btn-lg btn-primary">Suspend</button> -->
                                <button type="button" class="btn btn_5 btn-lg btn-primary">Edit</button>
                                <button type="button" class="btn btn_5 btn-lg btn-primary" (click)="DelCategory(cate)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- List all categories end -->
        <!-- </div> -->


    </div>
</div>

<!-- modal popup start -->
<bs-modal #myFirstModal>

    <bs-modal-body>
        {{message}}
    </bs-modal-body>

</bs-modal>
<!-- modal popup end -->