<!-- header-starts -->
<div class="header-section">

    <!--toggle button start-->
    <a (click)="toggleMenu()" class="toggle-btn menu-collapsed"><i class="fa fa-bars"></i></a>
    <!--toggle button end-->

    <!--notification menu start -->
    <div class="menu-right">
        <div class="user-panel-top">
            <div class="profile_details_left">
                <ul class="nofitications-dropdown">
                    <li class="dropdown">

                    </li>
                    <li class="login_box" id="loginContainer">
                        <div class="search-box">

                        </div>
                        <!-- search-scripts -->
                        <script src="assets/js/classie.js"></script>
                        <script src="assets/js/uisearch.js"></script>
                        <script>
                            new UISearch(document.getElementById('sb-search'));
                        </script>
                        <!-- //search-scripts -->
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell"></i><span class="badge blue">3</span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="notification_header">
                                    <h3>You have 3 new notification</h3>
                                </div>
                            </li>

                            <li>
                                <div class="notification_bottom">
                                    <a href="#">See all notification</a>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <div class="clearfix"></div>
                </ul>
            </div>

            <!-- Profile details -->
            <div class="profile_details">
                <ul>
                    <li class="dropdown profile_details_drop">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <div class="profile_img">
                                <span> <img src="{{getimage(user.imageURL) | safeHtmlURL}}" /> </span>

                                <div class="user-name">
                                    <p>{{getUsername()}}<span>Administrator</span></p>
                                </div>
                                <i class="lnr lnr-chevron-down"></i>
                                <i class="lnr lnr-chevron-up"></i>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <ul class="dropdown-menu drp-mnu">
                            <li> <a routerLinkActive="active" [routerLink]="['/main/Settings']"><i class="fa fa-cog"></i> Settings</a>                                </li>
                            <li> <a routerLinkActive="active" [routerLink]="['/main/UserViewsComponent']"><i class="fa fa-user"></i>Profile</a>                                </li>
                            <li> <a routerLinkActive="active" [routerLink]="['/main/change-password']"><i class="fa fa-user"></i>Change Password</a>                                </li>
                            <li> <a (click)="logout()" href=""><i class="fa fa-sign-out"></i> Logout</a> </li>
                        </ul>
                    </li>
                    <div class="clearfix"> </div>
                </ul>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <!--notification menu end -->
</div>
<!-- //header-ends -->