<!-- left side start-->
<div class="left-side sticky-left-side">

    <!--logo and iconic logo start-->
    <div class="logo">
        <h1><a href="index.html">Easy <span>Admin</span></a></h1>
    </div>
    <!--logo and iconic logo end-->
    <div class="left-side-inner">

        <!--sidebar nav start-->
        <ul class="nav nav-pills nav-stacked custom-nav">
            <li routerLinkActive="active" class="menu-list"><a routerLink="/main/Dashboard"><i class="lnr lnr-power-switch"></i><span>Dashboard</span></a></li>
            <li routerLinkActive="active" class="menu-list"><a routerLink="/main/ListAllUsersComponent"><i class="fa fa-list"></i> <span>List All Users</span></a></li>
            <li routerLinkActive="active" class="menu-list"><a routerLink="/main/emailBox"><i class="fa fa-envelope" aria-hidden="true"></i><span>Email List</span></a></li>
            <li routerLinkActive="active" class="menu-list"><a routerLink="/main/UserViewsComponent"><i class="fa fa-user" aria-hidden="true"></i><span>My Profile</span></a></li>
            <li routerLinkActive="active" class="menu-list"><a routerLink="/main/CategoryComponent"><i class="fa fa-certificate" aria-hidden="true"></i><span>Category</span></a></li>
            <li routerLinkActive="active" class="menu-list"><a routerLink="/main/AddBlocksComponent"><i class="fa fa-plus-circle" aria-hidden="true"></i><span>Ads Blocks</span></a></li>
            <li routerLinkActive="active" class="menu-list"><a routerLink="/main/AllPostsComponent/1"><i class="fa fa-list-ol "></i> <span>All Posts</span></a></li>
            <li routerLinkActive="active" class="menu-list"><a routerLink="/main/ReportedPostsComponent"><i class="fa fa-bug" aria-hidden="true"></i><span>Reported Posts</span></a></li>
            <li routerLinkActive="active" class="menu-list"><a routerLink="/main/TrashedPostsComponent"><i class="fa fa-trash-o" aria-hidden="true"></i><span>Trashed Posts</span></a></li>
        </ul>
        <!--sidebar nav end-->
    </div>
</div>
<!-- left side end-->