<!-- No posts found -->
<div *ngIf="posts.length == 0">
    No Posts Found
</div>

<!-- For loader start -->
<div class="loaderBox" *ngIf="loading"></div>
<!-- For loader end -->

<!-- To list All User Posts Start -->
<div id="page-wrapper">
    <div class="graphs">
        <h3 class="blank1">List All Posts</h3>
        <div class="xs tabls">
            <div class="bs-example4" data-example-id="contextual-table">

                <table class="table">
                    <thead>
                        <tr>
                            <th>S.no</th>
                            <th>Post name</th>
                            <th>User</th>
                            <th>likes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="active" *ngFor="let post of posts | paginate: { itemsPerPage: itemsPPage, currentPage: curPage }; let i = index">
                            <th scope="row">{{pagination(i,curPage)}}</th>
                            <td>{{post.title}}</td>
                            <td>{{post.user.firstname}}</td>
                            <td><span *ngIf="post.likes">{{post.likes.length}}</span></td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="posts.length == 0">
                    No Posts Found
                </div>
                <pagination-controls (pageChange)="changePage($event)" autoHide="true" previousLabel="Previous" nextLabel="Next"></pagination-controls>
            </div>

        </div>
    </div>
</div>

<!-- To list All User Posts End -->